body {
    height: 100vh;
}

.page-container {
    display: flex;
    height: 100%;
}

.main-content {
    height: 100%;
    width: 100%;
}

.heroimage{
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("res/preview_pic.png");
    height: 70%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.herotext {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: blue;
    text-shadow:
    -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.badgetext {
    color: white;
}

.badge1 {
    background-color: red;
}

.badge2 {
    background-color: orangered;
}

.badge3 {
    background-color: orange;
}

.badge4 {
    background-color: gold;
}

.badge5 {
    background-color: yellow;
}

#title {
    font-size: 300%;
}
#subtitle {
    font-size: 200%;
}